/* Owl Carousel Bootstrap Custom CSS */

/* Header Navigation */
#top-nav
{
    -webkit-transform: translateZ(0);

    border-bottom: 1px solid #e1e6dd;
    background: #fff;;
}
#top-nav.navbar
{
    margin-bottom: 0;
}
#top-nav.navbar .nav
{
    margin: 8px 0;
}

#top-nav.navbar .nav > li > a
{
    font-weight: 400;

    margin: 0;
    padding: 6px 12px;

    -webkit-transition: background-color 200ms ease;
       -moz-transition: background-color 200ms ease;
         -o-transition: background-color 200ms ease;
            transition: background-color 200ms ease;
    text-transform: uppercase;
}
#top-nav.navbar .nav > li > a.download
{
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

#top-nav.navbar .nav > li > a.download-on
{
    color: #fff;
    background-color: #ff8a3c;
}
#top-nav.navbar .nav > li > a.download-on:hover
{
    color: #fff;
    background-color: #ff7920;
}
.btn-navbar span.icon-bar
{
    margin-top: 0;
}

/* Header  */

#header
{
    padding: 100px 0 100px;

    background: #f1f1f1;
}
#header h1
{
    margin-top: 40px;
    margin-bottom: 10px;

    color: #7fc242;
}
#header h3
{
    width: 400px;
    margin-bottom: 30px;
}
#header .btn-success
{
    margin-bottom: 5px;
    padding: 15px 30px;
}
#header .logo
{
    display: block;
    float: right;

    margin-top: 60px;;
}
img.arrow-down
{
    display: block;

    margin: 0 auto;
}
h1
{
    margin-top: 80px;
}

pre.pre-show
{
    margin: 40px 0;
}
.tab-content pre.pre-show
{
    margin: 0 0 0 0;
}
.nav-tabs
{
    margin-top: 20px;
    margin-bottom: 0;
}
.tab-content
{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
}
/* Content */
.table th,
.table td
{
    padding: 8px 12px;
}

.wrap_title
{
    margin-bottom: 30px;
}

/*  Owl */
#owl-demo .item
{
    margin: 4px;
}
#owl-demo .item img
{
    display: block;

    width: 100%;
    height: auto;
}
/* Footer */

#footer
{
    padding: 20px 0;

    text-align: center;

    background: #f3f3f3;;
}
.twitter-share-button
{
    position: relative;
    top: 4px;
}

/* Demo Slides */

#owl-example .item
{
    margin: 10px;
    padding: 30px 0;

    text-align: center;

    color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
#owl-example .item img
{
    display: block;

    width: auto;
    margin: 0 auto;
}
#owl-example .item h3
{
    font-size: 28px;
    font-weight: 300;

    margin: 25px 0 0;
}
#owl-example .item h4
{
    font-size: 18px;

    margin: 5px 0 0;
}
.item h1
{
    margin: inherit;
}

.orange
{
    background: #ff8a3c;
}
.darkCyan
{
    background: #42bdc2;
}
.forestGreen
{
    background: #7fc242;
}
.yellow
{
    background: #ffd800;
}
.dodgerBlue
{
    background: #388bd1;
}
.skyBlue
{
    background: #a1def8;
}
.zombieGreen
{
    background: #3fbf79;
}
.violet
{
    background: #db6ac5;
}
.yellowLight
{
    background: #fee664;
}
.steelGray
{
    background: #cad3d0;
}

/* More Demo Box */

#example-info h1,
#more h1
{
    margin-top: 40px;
}
.demos-row
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.demo-page
{
    margin-top: 0;
    margin-bottom: 100px;
}
.demo-box
{
    font-size: 18px;

    display: block;

    text-align: center;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    background: #f3f3f3;
}
.demo-box h3
{
    margin: 0;
    padding-bottom: 20px;

    color: #869690;
}
.demo-box:hover
{
    text-decoration: none;
}
.demo-wrapper
{
    padding: 30px 0 20px 0;
    padding-right: 30px;
    padding-left: 30px;
}
.demo-slide
{
    float: left;
}
.demo-slide .bg
{
    height: 100%;
    margin-right: 1px;

    background: #aebab6;
}
.demo-box:hover .demo-slide .bg
{
    background: #7fc242;
}
/* Images */
.demo-images .demo-slide
{
    width: 33.3333333%;
    height: 40px;
}

/* Full */
.demo-full
{
    padding-right: 0;
    padding-left: 0;
}
.demo-full .demo-slide
{
    width: 25%;
    height: 40px;
}

/* Custom */
.demo-custom .demo-slide
{
    width: 10%;
    height: 40px;
}
/* One */
.demo-one .demo-slide
{
    width: 100%;
    height: 40px;
}

/* json */

.demo-Json .demo-slide
{
    width: 20%;
    height: 40px;
}
.demo-Json-custom .demo-slide
{
    width: 33.3333333%;
    height: 40px;
}
/* loading icon */

.demo-lazy .demo-slide
{
    width: 33.3333333%;
    height: 40px;
}
.demo-lazy .demo-slide .bg
{
    background: url('../img/AjaxLoader.gif') no-repeat center center #aebab6;
}

/* Auto Height */
.demo-height .demo-slide
{
    width: 100%;
    height: 40px;
}

/* Changelog  */
#changelog
{
    margin-bottom: 40px;
}
#changelog .label
{
    margin-bottom: 10px;
}
#changelog .log
{
    margin-bottom: 30px;
    padding-bottom: 30px;

    border-bottom: 1px solid #e1e6dd;
}
/* Faq */
#faq dt
{
    line-height: 26px;
}
#faq dd
{
    line-height: 22px;

    margin-bottom: 20px;
}



/* Responsive Stuff */


@media (max-width: 979px)
{
    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner
    {
        padding: 0;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom
    {
        position: fixed;
    }
}
@media (max-width: 768px)
{
    .navbar.navbar-fixed-top
    {
        position: static;
    }
    .btn.btn-navbar
    {
        margin: 9px 20px 9px 8px;
        padding: 10px 10px;
    }
    .nav-collapse .nav > li
    {
        text-align: center;

        border-top: 1px solid #e1e6dd;;
    }
    #header .logo
    {
        float: none;

        height: 150px;
        margin: 20px auto 0;
        margin-top: 40px;
    }
    #header
    {
        padding: 60px 0 30px;

        text-align: center;
    }
    #header h1
    {
        margin: 10px 0;
    }
    #header h3
    {
        width: auto;
        margin-bottom: 10px;
        padding: 0 20px;
    }
    h1
    {
        font-size: 38px;

        margin: 20px 0;
    }
    h2
    {
        font-size: 24px;
    }
    h3
    {
        font-size: 20px;
    }
    h4
    {
        font-size: 16px;
    }
    h5
    {
        font-size: 13px;
    }
    h6
    {
        font-size: 12px;
    }
}


@media (max-width: 480px)
{
    .navbar-fixed-top,
    .navbar-fixed-bottom
    {
        position: static;
    }
    #header
    {
        padding: 20px 0 20px;

        text-align: center;
    }
    #header .logo
    {
        margin-top: 0;
    }
}

/*
NO MORE TABLES!! ;)
*/
@media (max-width: 767px)
{
    .hp-table table,
    .hp-table thead,
    .hp-table .hp-table tbody,
    .hp-table th,
    .hp-table td,
    .hp-table tr
    {
        display: block;
    }
    .hp-table thead tr
    {
        display: none;
    }
    .hp-table tr
    {
        margin-bottom: 10px;

        border: 0 solid #ccc;
    }

    .hp-table td:before
    {
        top: 6px;
        left: 6px;

        width: 45%;
        padding-right: 10px;

        white-space: nowrap;
    }

    .hp-table td:nth-of-type(2):before
    {
        font-weight: bold;

        content: 'Default:';
    }
    .hp-table td:nth-of-type(3):before
    {
        font-weight: bold;

        content: 'Type:';
    }
    .hp-table td:nth-of-type(4):before
    {
        font-weight: bold;

        content: 'Description:';
    }
}
